{% extends "layout.html" %}
{% block content %}
  <h1>About the CSC</h1>

	<div class="article-metadata">
    <p> The COVID-19 Sequencing Center (CSC for short) was created for scientists, biologists, bioinformaticians, and anyone in the general public interested in analyzing genomic sequences extracted from the novel Coronavirus.
    CSC efforts are split into two tasks: 1. Designing and maintaining a database 2. Builiding and maintaining an application for easily viewing the informaiton in the database.</p>

    <p>This website serves as an application to  the latest publications and information regarding novel coronavirus, formally known as
    COVID-19. COVID-19 is a rapidly spreading and highly infectious virus that originated in Wuhan, China in December 2019. In
    March 2020, the World Health Organization (WHO) declared COVID-19 a global pandemic. In April 2020, over 188 sovereign
    states and countries had cases, with the United States now having the highest number of cases. Known global cases are now over three million.</p>

  	<p>COVID-19 is known to cause symptoms such as high fever, dry cough, sore throat, and other symptoms similar to the flu and common cold. COVID-19 is also able to induce pneuomonia and severe acute respiratory syndrome. People over the age of 60, people who have comprimised immune systems, or other underlying diseases are the most susceptible. Due to the highly infectious nature of the disease, countries around the world are scrambling to prevent their healthcare systems from collapsing due to a limited supply of ICU's, ventilators, hopsital capacity, and staff capacity.</p>

  	<p> Although the origin and exact nature of COVID-19 is not entirely known, this database serves as a resource for researchers around the world to collaborate and present information about COVID-19 and similar coronaviruses that may reveal more information about COVID-19.
    By having access to the genetic material of the virus, researchers can analyze how the virus changes over time, use the sequences to develop vaccines, and utilize protein sequences to build computer models.</p>

    <p>This website was created by Adelina Voukadinova and Brian Ho. Enjoy!</p>
  </div>

  <h3>More About the Creators</h3>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2">Adelina Voukadinova</a>
        </div>
        <small class="mr-2">Adelina Voukadinova is a bioinformatics masters student at Loyola University Chicago. She plans to graduate in May and pursue a career in bioinformatics or data science in Chicago. She loves to draw, rock climb, and read books when she isn't busy designing databases.</small>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2">Brian Ho</a>
        </div>
        <small class="mr-2">Brian Ho is a bioinformatics masters student at Loyola University Chicago. He plans to graduate in May and pursue a career in bioinformatics or data science in Chicago. Some of his hobbies include traveling and cooking.</small>
      </div>
    </article>
{% endblock content %}
