{% extends "layout.html" %}
{% block content %}
  <h1>{{title}}</h1>
  {% for row in results %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2">{{ row.Title }} </a> <br/>
          <a class="mr-2">{{ row.FirstName }} {{row.LastName }} </a>
        </div>
    
        {% if current_user.is_authenticated %}
        <small><a class="button" href="{{ url_for('assignment', AuthorID=row.AuthorID, PubID=row.PubID) }}">To update or delete, click here</a></small>
        {% endif %}
        
      </div>
    </article>
   {% endfor %}
{% endblock content %}