{% extends "layout.html" %}
{% block content %}
  <h1>{{title}}</h1>
    <p> There are {{total}} total publications available.</p>
	  {% for row in results %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              {% if not current_user.is_authenticated %}
                <a class="mr-2" href="{{ url_for('publication', PubID=row.PubID) }}">{{ row.Title }}</a> <br/>
              {% else %}
                <a class="mr-2">{{ row.Title }}</a> <br/>
              {% endif %}        
            </div>
          <small class="text-muted">Published: {{ row.PubDate }}</small> <br/>
          <small class="text-muted"> Pub ID: {{ row.PubID }}</small> <br/>
          <small class="text-muted"> Accession ID: {{ row.AccessionID }}</small> <br/>
          {% if current_user.is_authenticated %}
            <small><a class="button" href="{{ url_for('publication', PubID=row.PubID) }}">To update or delete, click here</a></small>
          {% endif %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}